@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background-color: var(--dark-cyan);
  color: var(--very-dark-desaturated-blue);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
}

.card {
  width: 100%;
  max-width: 325px;
  margin: 150px auto;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 30px hsla(229, 23%, 23%, 0.25);
}

.card__header {
  position: relative;
  height: 150px;
  border-radius: 15px;
  background-image: url(images/bg-pattern-card.svg);
}

.card__header img {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 5px solid white;
}

.card__body {
  padding: 75px 0 25px;
  text-align: center;
}

.card__title {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.card__title span {
  font-weight: 400;
}

.card__text {
  font-size: 0.75rem;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}

.stat {
  padding: 25px;
  text-align: center;
}

.stat * {
  display: block;
}

.stat__num {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
}

.stat__label {
  font-size: 0.75rem;
}

@media (min-width: 375px) {
  body {
    background-position: 125% 200%, -25% -100%;
  }
}

@media (min-width: 1440px) {
  body {
    background-position: -75% 150%, 150% -100%;
  }
}
